*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Arimox', sans-serif;
}
li{
    list-style: none;
}
.bloem1{
    position: relative;
}
.bloem1 img{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 407px;
    height: 547px;
}
.bloem2{
    position: relative;
}
.bloem2 img{
    position: absolute;
    top: 630px;
    left: 1450px;
    width: 407px;
    height: 547px;
    transform: scaleX(-1);
}
.pijl-boven{
    position: fixed;
}
.pijl-boven img{
    position: absolute;
    top: 950px;
    left: 1770px;
    width: 100px;
    height: 100px;
}
nav{
    position: absolute;
    right: 70px;
    top: 30px;
}
nav ul{
    display: flex;
    gap: 5rem;
}
nav a{
    font-size: 30px;
    color: #434834;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.portfolio{
    height: 100vh;
    display: flex;
    background-color: #EAE3D3;
}
.portfolio h1{
    font-size: 270px;
    font-weight: lighter;
    font-family: Aref Ruqaa;
    color: #434834;
    width: 70%;
    position: absolute;
    top: 380px;
    left: 490px;
}
.groen-vlak{
    width: 30%;
    background-color: #767A61;
}
header{
    background-color: #767A61;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 13rem;
}
header img{
    width: 414px;
    border-radius: 400px;
}
header h2{
    font-size: 64px;
    color: #EAE3D3;
    margin-bottom: 5rem;
}
header p{
    font-size: 32px;
    font-family: Aref Ruqaa;
    color: #EAE3D3;
    width: 680px;
}

.richting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 13rem;
}
.richting h2{
    font-size: 64px;
    color: #434834;
    text-align: center;
    margin-bottom: 5rem;
    width: 750px;
}
.richting p{
    font-size: 32px;
    color: #434834;
    width: 1000px;
    text-align: center;
}

.vibes{
    background-color: #EAE3D3;
    height: 1257px;
    margin-bottom: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vibes h2{
    font-size: 158px;
    font-family: Aref Ruqaa;
    color: #434834;
    width: 50px;
    position: absolute;
    top: 2950px;
    left: 280px;
}
.vibes img{
    border-radius: 40px;
}
.afbeeldingen-vibes{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.foto1{
    width: 390px;
    height: 460px;
    position: relative;
    top: 200px;

}
.foto2{
    width: 527px;
    height: 998px;
}
.foto3{
    width: 390px;
    height: 460px;
    position: relative;
    top: -200px;
}
.bloem3{
    position: relative;
}
.bloem3 img{
    position: absolute;
    top: 50px;
    left: -400px;
    width: 407px;
    height: 547px;
    transform: scaleX(-1);
}

.designer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25rem;
    margin-bottom: 13rem;
}
.designer-info{
    background-color: #767A61;
    border-radius: 40px;
    height: 1000px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
}
.designer-info h2{
    font-size: 64px;
    color: #EAE3D3;
    text-align: center;
    margin: 7rem 0rem 5rem 0rem;
    width: 750px;
}
.designer-info p{
    font-size: 40px;
    color: #EAE3D3;
    width: 600px;
    text-align: center;
    margin-bottom: 5rem;
}
.designer img{
    width: 507px;
    height: 845px;
    border-radius: 40px;
    position: absolute;
    left: 330px;
}
.button-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13rem;
}

.button-skills a{
    text-decoration: none;
    font-size: 128px;
    font-family: Aref Ruqaa;
    color: #434834;
    border: 7px solid #434834;
    padding: 3rem 4rem;
    border-radius: 40px;
}

.bloem4{
    position: relative;
}
.bloem4 img{
    position: absolute;
    top: -250px;
    left: 100px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #EAE3D3;
    height: 607px;
}
footer p{
    font-size: 30px;
    color: #434834;
}
footer img{
    width: 60px;
}
.gegevens{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.nummer, .email{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}
.socials{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 407px;
}



