*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Arimox', sans-serif;
}
li{
     list-style: none;
}

.pijl-boven{
     position: fixed;
 }
.pijl-boven img{
    position: absolute;
    top: 950px;
    left: 1770px;
    width: 100px;
    height: 100px;
}

header{
    background-color: #767A61;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 13rem;
}
header h1{
    font-size: 140px;
    color: #EAE3D3;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.talen {
    display: flex;
    justify-content: space-evenly;
    padding: 0rem 6rem 0rem 6rem;
    margin-bottom: 13rem;
}
.talen h2{
    font-size: 64px;
    color: #434834;
}
.sterren{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lijst{
    display: flex;
    align-items: center;
    gap: 8rem;
}
.vakken li{
    font-size:  40px;
    color: #434834;
    padding-top: 3rem;
}
.talen img{
    width: 480px;
    height: 480px;
    border-radius: 20px;
}
.stars li{
    display: flex;
    gap: 1rem;
    padding-top: 3rem;
}
.stars img{
    width: 46px;
    height: 46px;
}

.interesses{
    background-color: #EAE3D3   ;
    margin: 5rem 12rem 13rem 12rem;
    padding: 4rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.interesses h2{
    font-size: 60px;
    color: #434834;
    padding-bottom: 6rem;
}
.icons{
    display: flex;
    gap: 10rem;
}
.tekst{
    margin-top: 2rem;
}
.tekst li{
    font-size: 40px;
    color: #434834;
    list-style: none;
    padding-bottom: 8rem;
}
.icons img{
    width: 117px;
    height: 117px;
    margin-bottom: 3rem;
}

.bloem3{
    position: relative;
}
.bloem3 img{
    position: absolute;
    top: -750px;
    left: 1300px;
    transform: scaleX(-1);
}

.werkervaring{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 13rem;
}
.werkervaring h2{
    font-size: 60px;
    color: #434834;
    margin-bottom: 5rem;
}
.jobs{
    display: flex;
    gap: 15rem;
}
.bakker, .bar, .magazijn{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}
.bakker img, .bar img, .magazijn img{
    width: 270px;
    height: 270px;
    border-radius: 25px;
}
.bakker h3, .bar h3, .magazijn h3{
    width: 241px;
    font-size: 30px;
    color: #434834;
    text-align: center;
}

.leerdoelen{
    background-color: #767A61;
    height: 850px;
    margin-bottom: 12rem;
    display: flex;
    flex-direction: column;
}
.leerdoelen h2{
    font-size: 60px;
    color: #EAE3D3;
    text-align: center;
    padding: 5rem;
}
.leerdoelen img{
    width: 75%;
    margin-top: 2rem;
    margin-left: 15rem;
}
.doelen{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.doelen p{
    margin-top: 8rem;
    font-size: 48px;
    color: #EAE3D3;
    width: 330px;
}

.vaardigheden{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-bottom: 13rem;
}
.vaardigheden h2{
    font-size: 60px;
    color: #434834;
}
.vaardigheden img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.photoshop, .illustrator, .indesign, .web{
    display: flex;
    gap: 5rem;
}
.info-programma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.info-programma p{
    font-size: 40px;
    color: #434834;
}
.sterren-programma{
    display: flex;
    gap: 1rem;
}
.sterren-programma img{
    width: 46px;
    height: 46px;
}

.bloem4{
    position: relative;
}
.bloem4 img{
    position: absolute;
    top: -250px;
    left: 100px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #EAE3D3;
    height: 607px;
}
footer p{
    font-size: 30px;
    color: #434834;
}
footer img{
    width: 60px;
}
.gegevens{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.nummer, .email{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}
.socials{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 407px;
}